
@import "./config";

.o-tabs {
  position: relative;
}

.o-tabs__navigation {
  box-shadow: inset 0 -1px $tab-navigation-border-color;
}

.o-tab-label {
  padding: $tab-label-v-padding $tab-label-h-padding;
  font-size: $tab-text-height;
  font-weight: $font-weight-semi-bold;
  line-height: 1;
  color: $tab-text-inactive-color;
  text-transform: uppercase;
  position: relative;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: box-shadow, color;

  &.isActive {
    color: $tab-text-color;
  }

  &.isDisabled {
    opacity: $tab-label-disabled-opacity;
  }

  &:not(.isDisabled) {
    cursor: pointer;
  }

  &.isHidden {
    display: none;
  }
}

.o-tabs__pointer {
  position: absolute;
  width: 0;
  height: $tab-pointer-height;
  margin-top: - $tab-pointer-height;
  background-color: $tab-pointer-color;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: left, width;
}

.o-tab-content {
  padding: $tab-label-v-padding $tab-label-h-padding;

  &:not(.isActive) {
    display: none;
  }

  &.isActive {
    display: block;
  }
}
